.lista-opcoes {
    display: flex;
    align-items: center;
}

.item-lista-opcoes {
    height: 100%;
    padding: 0 5px;

    font-size: 16px;
    min-width: 120px;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
}

