.App {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #002F52 35%, #326589 165%);
}

.App-header {
    background: white;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}


